version: '3.8'
networks:
  homelibnetwork:
    driver: bridge

services:
  app:
    build:
      context: .
    ports:
      - 4000:4000
    depends_on:
      - postgres
    env_file:
      - .env
    networks:
      - homelibnetwork
    volumes:
      - ./:/usr/app
      - /usr/app/node_modules
    command: ["npm", "run", "start:dev"]

  postgres:
    image: postgres:13.5
    restart: always
    environment:
      - POSTGRES_DB=homelibdb
      - POSTGRES_USER=adminuser
      - POSTGRES_PASSWORD=adminpwd
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U adminuser -d homelibdb"]
      interval: 1m30s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - homelibnetwork

volumes:
  postgres:
